<!DOCTYPE html>
<html>
<head>
 <title>{% block title %}oceanus{% endblock %}</title>
 {% load staticfiles %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
 <meta name="robots" content="noindex">
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script type="text/javascript">
 $(function() {
 $('#submitButton').click(function() {
 $.ajax({
 type: "POST",
 url: "/makeshort/",
 data: {
 'url' : $('#url').val(),
 'beacon' : $('#beacon').val(),
 'parameters' : $('#parameters').val(),
 'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
 },
 success: returnSuccess,
 dataType: 'json'
 });
 });
});

function returnSuccess(data, textStatus, jqXHR) {
 if(data.url) {
   $('#url-result').html('<a target="_blank" href="' + data.url + '">' + data.url + "</a>");
   $('#beacon-result').html('<a target="_blank" href="' + data.beacon_url + '">' + data.beacon_url + "</a>");
 } else {
   $('#url-result').text("Do not submit blank.");
 }

}
</script>
<body>
<div id="wrap">
  <header><h1>oceanus</h1></header>
  <div id="content">
	{% block content %}{% endblock %}
    {% block footer %}
    <div class="panel-footer">
        <ul>
            <li><a href="{% url 'make'%}">single</a>
            <li><a href="{% url 'make_article'%}">article</a>
            <li><a href="{% url 'admin:login'%}">admin</a>
        </ul>
	 </div>
    {% endblock%}
  </div>
</div>
</body>
</html>
