{% extends "shortener/base.html" %}

{% block title %}URL Shortner - Make your URL shorter!{% endblock %}

{% block content %}

<div class="panel panel-default">
 <div class="panel-body">
 <div class="col-sm-12">
    <form method="post">
article:
        <textarea name="article" id="article" class="form-control input-sm" rows="30">
{% if article %}{{article}}{% else %}━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━
【１】bizocean書式の王様
　　　　　1万点！オリジナル英語書式・PPTテンプレート大量入荷！
━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━

　様々なビジネスシーンで使える書式、テンプレートを
　大量入荷いたしました！ぜひご利用ください！
　
　パワーポイント標準のデザインテンプレートを使うと、
　他の人と同じテンプレートになってしまうことがよくあります。

　プレゼン資料はデザインで大きく印象が変わります。
　デザインがいまいちのプレゼン資料は、中身が良くても
　評価されにくいという声もよく聞きます。

　あなた独自のオリジナルテンプレートを使って、簡単にオシャレで見やすい
　「伝わる」プレゼン資料を作りましょう！

　独自デザインパワーポイントで周りとは違う個性的な企画書、提案書を作成！
　インパクトのある提案をしたい方におすすめ！

　▼デザインパワーポイント▼

　https://www.bizocean.jp/doc/search/922/-/?order=newest&price_segment=both

　そのまま使えるオリジナルデザインの表やグラフでプレゼン資料を作成！
　情報の整理が苦手な方でも安心して利用できます！

　▼プレゼンパワーポイント▼

　https://www.bizocean.jp/doc/category/452/?order=newest

　海外とのやり取りに便利！
　様々なシチュエーションに対応した英文・中文テンプレートも大量入荷！

　▼英文テンプレート▼

　https://www.bizocean.jp/doc/category/944/2/?order=newest&l=tile

　▼中文テンプレート▼

　https://www.bizocean.jp/doc/category/974/?order=newest&l=tile

　提供元：韓国No.1の書式テンプレートサイト「YesForm」

　https://www.bizocean.jp/doc/maker/894/


━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━
【２】bizoceanおすすめ記事
　　　　　営業マン3割が有給休暇を1日も取れず
━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━

～3割が有給休暇を「1日も取れていない・・・」
　「合コン」と「ITツール」が彼らを救う！？～

■有給休暇を年間に1日も取れていない人が約3割。

■営業効率化のITツールを導入している企業ほど、
　有給休暇取得日数が増える傾向にある。

■合コンに行く人の方が、有給休暇を取得できる傾向にあり、
　体調やメンタルも崩しにくく、仕事にやりがいを感じている傾向にある。


▼詳しい調査結果については、こちらをご参照ください▼
https://skj.bizocean.jp/enquete/


━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━
【３】bizocean書式の王様
　　　　　新規起業も既存事業も！事業計画書の書き方特集
━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━

　設計図なき家の建築がないように、会社の経営や事業の展開にも設計図が
　必要です。

　【概要】【市場性】【マーケティング】【オペレーション】
　の各分野について概論はもちろん、なんと「業種別」に具体例を挙げて
　解説していきます！

　もちろん、コラム内で利用しているきれいなテンプレートは、
　具体的な記入例の入った状態でbizoceanで無料ダウンロード可能。
　

　▼詳しくはこちら▼
　http://www.bizocean.jp/column/businessplan/


　▼専門家が書式の使い方をアドバイス「書式ガイド」はこちら▼
　http://www.bizocean.jp/column/category/formatting_guide/


━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━
【４】事務局オススメ資料
　　　　　売れる営業？売れない営業？
━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━…━

　どの企業にも「売れる」「売れない」営業がいます。

　その差は、どこからくるのでしょうか？
　
　・顧客との接点の頻度と濃さである
　・業界、商材知識の差である
　・顧客のマインドを高めるトーク力である
　・顧客管理、マネジメントの差である
　・業務を効率化することで、継続的に新規に当たることだ

　…などなど、様々な業界のTOP営業マンが語った
　多くの情報が世の中には、溢れています。

　しかし、そういった情報をインストールしても
　誰しもが「売れる」わけではありません。

　確実に、個人ごとの差は生まれています。
　それを「センス」という方もいるでしょう。

　ただ、それでは売れない営業はいつまでたっても
　「売れない」ままなのです。

　この、一つの解決法として
　全社的にTOP営業マンのノウハウを科学的に分析・共有し
　受注件数が3.6倍に伸びた事例をご紹介します。

　無料でダウンロードできますので、
　課題をお持ちの企業様は1度ご覧くださいませ。


　▼詳細・ダウンロードはコチラ▼
　http://tr-wk.jp/documents/detail/364



━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
　 「bizocean」で商品・サービスの告知をしてみませんか？
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
　　　　　　　　　　　　会員数２０７万人突破！
　　　　経営者・管理職のためのビジネス情報サイト「bizocean」
　　　　￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣
　「bizocean」への広告出稿のご案内です。商品やご予算、キャンペーンに
　合わせたプランを作成いたします。お気軽にお問い合わせください。

　◎詳しくはこちら
　　http://www.bizocean.jp/column/insertion/


━━━━━━━━ 最後までお読み頂き有難うございました ━━━━━━━━
{% endif %}
      </textarea>
      <div style="margin:5px 0 0;">
      beacon:
      <select name="beacon" id="beacon" class="form-control">
      {% for b in beacons %}
      <option value="{{b.id}}">{{b.label}} [{{b.endpoint}}]</option>
      {% endfor %}
      </select>
      </div>

      <div style="margin:5px 0 0;">beacon parameters:
        <input type="text" name="parameters" id="parameters" class="form-control" value="{{parameters}}">
        ex. tit=mail_title&oid=2
      </div>


     </div>

     <div class="col-sm-12" style="margin:15px 0 0;">
     {% csrf_token %}
     <input type="submit" class="btn btn-primary" value="submit">
   </form>
 <div style="margin:10px 0 0;">converted article:<textarea class="form-control input-sm" rows="30">{{ converted_article }}</textarea></div>
 </div>
 </div>
</div>
{% endblock %}
