<!DOCTYPE html>
<html>
<head>
 <title>{% block title %}bizoceanリード管理画面{% endblock %}</title>
 {% load staticfiles %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
 <meta name="robots" content="noindex">
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="wrap" class="container">
    <div class="text-right row" style="margin:10px">
    {% if request.user.is_authenticated %}
        <p>{{ request.user.last_name }} {{ request.user.first_name }} 様</p>
        <a class="btn btn-primary btn-sm" href="{% url "logout" %}">ログアウト</a>
        {% if request.user.is_staff %}
        <a class="btn btn-sm btn-danger" href="{% url 'admin:index' %}">管理画面</a>
        {% endif %}
    {% else %}
        <a class="btn btn-primary btn-sm" href="{% url "login" %}">ログイン</a>
    {% endif %}
    </div>
    <header><h1>{% block h1%}heading1{% endblock%}</h1></header>
    <div id="content">
    {% block content %}content{% endblock %}
    </div>
</div>
</body>
</html>
