<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

{% set td_style='style="border:1px solid #999;padding:4px;"' %}

<p>{{ desc }}</p>
<table style="border-collapse: collapse;margin:0 0 1em;">
  <tr style="background:#ccc;">
    <th {{ td_style }}>dt </th>
    <th {{ td_style }}>sid</th>
    <th {{ td_style }}>uid</th>
    <th {{ td_style }}>name</th>
    <th {{ td_style }}>jsn</th>
    <th {{ td_style }}>dev</th>
    <th {{ td_style }}>rad</th>
  </tr>
  <tr>
    <td {{ td_style }}>{{ data.dt_jp }}</td>
    <td {{ td_style }}>{{ data.sid }}</td>
    <td {{ td_style }}>{{ data.uid }}</td>
    <td {{ td_style }}>{{ data.name }}</td>
    <td {{ td_style }}>
        {% if data.jsn_loads %}
        <dl>
        {% for jt, jv in data.jsn_loads.items() %}
        <dt>{{ jt }}</dt>
        <dd>{{ jv }}</dd>
        {% endfor %}
        </dl>
        {% endif %}
    </td>
    <td {{ td_style }}>{{ data.dev }}</td>
    <td {{ td_style }}>{{ data.rad }}</td>
  </tr>
</table>

{% if history %}
  <table style="border-collapse: collapse;">
  <tbody>
      <tr style="background:#ccc;">
        <th {{ td_style }}>dt </th>
        <th {{ td_style }}>evt</th>
        <th {{ td_style }}>tit</th>
        <th {{ td_style }}>uid</th>
        <th {{ td_style }}>dev</th>
        <th {{ td_style }}>rad</th>
      </tr>
  {% for h in history %}
      <tr>
        <td {{ td_style }}>{{ h.dt_jp }}</td>
        <td {{ td_style }}>{{ h.evt }}</td>
        <td {{ td_style }}>
                {% if "https://" in h.url or "http://" in h.url %}
                    <a href="{{ h.url }}">{{ h.tit }}</a></td>
                {% else %}
                    {{ h.tit }} [{{ h.url }}]
                {% endif %}
                {% if loop.first and h.ref %}
                    <br>ref: {{ h.ref }}
                {% endif %}
        <td {{ td_style }}>{{ h.uid }}</td>
        <td {{ td_style }}>{{ h.dev }}</td>
        <td {{ td_style }}>{{ h.rad }}</td>
      </tr>
  {% endfor %}
  </tbody>
  </table>
{% else %}
  <p>履歴が見つかりませんでした</p>
{% endif %}
</html>
