{% extends "lead/base.html" %}

{% block h1%}
bizocean リード管理画面ログイン
{% endblock h1%}

{% block content %}

{% if form.errors %}
<p>ユーザー名、もしくはパスワードが違います</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>現在のアカウントではこのページをみる権限がありません。別のユーザーでログインしなおしてください。</p>
    {% else %}
    <p>ログインしてください</p>
    {% endif %}
{% endif %}

<div class="row">
        <div class="col-md-4">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <th>{{ form.username.label_tag }}</th>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.password.label_tag }}</th>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>
                <input type="submit" class="btn btn-primary btn-lg"value="ログイン" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
    </div>
</div>
{% endblock %}
